
body {
	margin:0;
	padding:0;
	/*font-size: 10px;*/
}
div.WireIt-Layer{
    overflow : hidden;
}

/* YUI layout */
.yui-skin-sam .yui-layout .yui-layout-hd {
	background-position: 0 -1300px;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-hd h2 {
	color: black;
}
/* Accordion View */
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active {
	border-left: 0;
	border-right: 0;
	border-color: #808080;
	color: black;
	background-position: 0 -1300px;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle {
	font-size: 13px;
	height: 13px;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active:hover {
	background-position: 0 -1500px;
}
/* Alerts */
.yui-skin-sam .yui-panel .hd {
    background: url('./res/images/menu-bg.png') repeat-x top left;
    color: #FFF;
    font-size: 93%;
    font-weight: bold;
    line-height: 2;
    padding: 0 10px;
}

/**
 * TOP
 */
#top {
	position: relative;
}
#top .topright {
	position: absolute;
	right: 5px;
	top: 5px;
}

#top .logo {
   /*font-family: cursive;
   color:  #3366CC;*/
	height: 25px;
    font-size: 16px; /*30px;*/
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    color:#FFF;
    border-bottom: 0;
    background-color: #373738;

}

/* Toolbar */
#toolbar {
   /*position: absolute;
   top: 10px;
   left: 300px;*/
	width: 100%;
	height: 23px;
	position: relative;
    background-color:#5281B7;
    border-bottom: 1px solid #83888c;
    background: url('res/images/menu-bg.png') repeat-x top left;
    padding-bottom: 0;

}

#toolbar .yui-button {
   margin: 0;
   border:0;
   border-bottom-style:none;

}
#toolbar .yui-button button {
    background-color:transparent;
    background:url('./res/images/menu-bg.png') repeat-x top left ;
    border:0;
    margin-top:auto;
    margin-bottom:auto;
    min-height: 23px;
    color:#FFF;
    padding-left: 1em;
    font-size: 92%;
}
#toolbar .yui-button button:hover {
    background:none;
    background-color:#FFF;
    color:#4d7ab2;
}

/**
 * savedStatus
 */
div.savedStatus {
	color:white;
	font-size:27pt;
	left:400px;
	position:absolute;
	/*top:10px;*/
}


/**
 * Module list
 */

.WiringEditor-module {
   cursor: move;
   /*background-color: #AADDDD;*/
   margin: 1px;
   padding: 2px;
   font-size: 9pt;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   /*height: 16px;*/
   text-align: left;
   background-color:#FFF;
	border:1px solid #E2EAF4;
}

#left .WiringEditor-module:hover {
   background-color:#DDECFE;
}

.WiringEditor-module img {
   margin-left: 5px;
}

.WiringEditor-module span {
   margin-left: 5px;
}

#moduleProxy {
   opacity: 0.8;
   filter: alpha(opacity = 80);
}

/**
 * CENTER
 */

#center {
	height: 100%;
    width: 100%;
    overflow:auto;
}

/**
 * BUTTONS
 */

#center div.heightArrows{
  position: absolute;
  bottom: 20px;
  left:50%;
}

#center div.widthArrows{
    position:absolute;
    right:30px;
    top:50%;
}

#center div.heightArrows div{
    height:8px;
    width:16px;
    display:block;
}
#center div.widthArrows div{
    height:16px;
    width:8px;
    display:block;
}

#center div.heightArrows div.arrowUp{
    background-image: url("res/icons/arrow-up.png");


}
#center div.heightArrows div.arrowUp:hover{
    background-image: url("res/icons/arrow-up-selected.png");
}

#center div.heightArrows div.arrowDown{
    background-image: url("res/icons/arrow-down.png");
    float:right;
    margin-left:16px;
}
#center div.heightArrows div.arrowDown:hover{
    background-image: url("res/icons/arrow-down-selected.png");
}

#center div.widthArrows div.arrowRight{
    background-image: url("res/icons/arrow-right.png");


}
#center div.widthArrows div.arrowRight:hover{
    background-image: url("res/icons/arrow-right-selected.png");
}

#center div.widthArrows div.arrowLeft{
    background-image: url("res/icons/arrow-left.png");
}
#center div.widthArrows div.arrowLeft:hover{
    background-image: url("res/icons/arrow-left-selected.png");
}

/**
 * MESSAGE PANEL
 */
#center div.yui-panel-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/**
 * RIGHT
 */

#right #propertiesForm {
	font-size: 13px;
}

#layerMap {
   /*width: 80%;*/
	width: 100%;
}

#layerMap canvas.WireIt-LayerMap {
	position: relative;
	/*width: 250px; Don't put any width or it breaks the layerMap */
    border: 0;
	width: 100%;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background-color:#FFF;
}

.yui-skin-sam .yui-layout .yui-layout-unit-right div.yui-layout-bd {
    overflow-y:auto;
}

div.inputEx-ListField-childContainer div.container{
    border-top:1px solid;
    margin-bottom:2px;
    padding-top:5px;
    padding-bottom:5px;
}

/**
 * Dialogs
 */
#loadPanelBody {
	max-height:300px;
	overflow-y:scroll;
	overflow-x:none;
	text-align:left;
}

#loadPanelBody ul {
   margin-left: 20px;
}

#loadPanelBody ul li {
	background-color:#FFFFFF;
	list-style-type:none;
	margin:2px;
	padding:2px 10px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
}

#loadPanelBody ul li:hover {
	background-color: #CCCCFF;
}

#alertPanelBody {
	padding: 10px 10px;
}
div.WireIt-Container-ddhandle {
    background-color:#FBF7E3;
    border-color:#373738;
    border-bottom: 0;
    color: #000;
}

div.WireIt-Container-focused div.WireIt-Container-ddhandle {
    background-color:#FBF7E3;
    border-color:#EB5B54;
    border-bottom: 0;
    color: #000;
}

div.WireIt-Container-ddhandle {
    background-color:#FBF7E3;
    border-color:#373738;
    border-bottom: 0;
    color: #000;
}

div.WireIt-Container div.body {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color:#FBF7E3;
    border-color:#373738;
    border-top: 0;
    color: #000;
}

div.WireIt-ImageContainer div.body div.terminalLabel {
    background-color:#FFF;
}

div.WireIt-Container div.body div.terminalLabel {
  width:inherit;
}
div.WireIt-Container div.body div.terminalLabel div.inputEx-StringField-wrapper {
  width:inherit;
}

div.WireIt-ImageContainer div.body div.terminalLabel {
    width: auto;
}

div.WireIt-Container div.body div.terminalLabel input {
  text-align:center;  
  width:inherit;
  border:0 none;
}

div.WireIt-Container div.body div.terminalLabel input:hover {
  border:1px inset;
}
div.WireIt-Container div.body div.terminalLabel input:focus {
  border:1px inset;
}

div.WireIt-Container-focused div.body{
    border-color: #EB5B54;
}
div.WiringEditor-module-Start div.body,div.WiringEditor-module-End div.body{
    background-color:transparent;
}
.inputEx-label label{
    color:#000 !important;
}

div.WireIt-Container-closebutton {
    background-image: url("./res/icons/cancel.png");
}

div.WireIt-ImageContainer div.WireIt-Container-closebutton {
    top:-4px;
    right:-30px;
}

div.WireIt-ImageContainer-turnbutton {
    background-image: url("./res/icons/change_direction.png");
    cursor:pointer;
    height: 16px;
    width: 16px;
    position:absolute;
    right:-14px;
    top:-4px;
}

div.WireIt-ImageContainer div.WireIt-ImageContainer-turnbutton{
    display:none;
}

div.WireIt-ImageContainer:hover div.WireIt-ImageContainer-turnbutton{
    display:block;
}


.Wf-MultiOutContainer-link{
    text-align: center;
    white-space: nowrap;
    letter-spacing: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Wf-MultiOutContainer-link .addButton, .Wf-Container-with-variable .addButton{
    background:url('./res/icons/add.png') no-repeat;
    background-position:center;
    height:16px;
    width:16px;
    display: inline-block;
    letter-spacing: normal;

 }

.Wf-Container-with-variable .variableButton, .Wf-Container-hasVariable{
     background:url('./res/icons/param.png') no-repeat;
     background-position:center;
     height:16px;
     width:16px;
     display: inline-block;
     letter-spacing: normal;

  }

  .Wf-Container-hasVariable{
     margin: 4px;
  }

.Wf-MultiOutContainer-link .deleteButton, .Wf-Container-with-variable .deleteButton{
    background:url('./res/icons/delete.png') no-repeat;
    background-position:center;
    height:16px;
    width:16px;
    display: inline-block;
    letter-spacing: normal;

}
div.WireIt-Terminal {
    background: url("./res/icons/terminals.png") no-repeat scroll 0 0 transparent;
}
div.WireIt-Terminal-connected {
    background-position: 0 -30px;
}
div.WireIt-Terminal-dropinvite {
    background-position: 0 -60px;
}
legend.inputEx-Group-legend {
    color: #000;
}
a.inputEx-List-link {
    color: black;
}
.bd #alertPanelButton {
   padding: 3px 5px;
}

#optionsForm div.inputEx-Group div.inputEx-fieldWrapper div.inputEx-CheckBox{
    width: 60px;
}
#optionsForm div.inputEx-Group div.inputEx-CheckBox.inputEx-Field input{
    width: auto;
    float: left;
}

#optionsForm div.inputEx-Group div.Wf-Container-with-variable-input{
    padding-left: 20px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#optionsForm div.inputEx-Group div.Wf-Container-with-variable-input .inputEx-label label{
    font-size:11px;

}

div.designLink {
        padding-left: 80px;
  }
